@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
#survey {
  background-color: gray;
  padding: 25px 50px 75px 100px;
  margin: 25px 50px 75px 100px;
  border-radius: 10px;
}
#title {
  text-align: center
}  
html, body {
  background-color: orange;
  font-family: 'Noto Sans', sans-serif;
  min-width: 320px;
}
#description {
  font-size: 20px;
}
.rowfield {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  flex-grow: 1;
  width: 100%;
  padding: 10px 10px 10px 10px;
}
.desc-col {
  width: 50%; 
}
.val-col {
  width: 50%;
  display: flex;
}
#rating {
  align-items: flex-start;
  flex: auto;
}
#survey-form {
  width: 100%;
  font-size: 0.5em;
}
select,input {
  width: 85%;
  padding: 12px 20px;
  margin: 8px 10;
  box-sizing: border-box;
}
input:valid {
  border: 1.5px solid green
}
input:invalid {
  border: 1.5px dashed red
}
#submit {
  color: white;
  background-color: brown;
  width: 70%;
  height: 100%;
  border-radius: 5px;
}
textarea {
  width: 100%;
  font-size: 1em;
}