@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
#survey {
  background-color: gray;
  padding: 25px 50px 75px 100px;
  margin: 25px 50px 75px 100px;
  border-radius: 10px;
}
#title {
  text-align: center
}  
html, body {
  background-color: orange;
  font-family: 'Noto Sans', sans-serif;
  min-width: 320px;
}
.desc-col {
  display: inline-block;
  text-align: left;
  width: 40%;
  padding: 5px;
  vertical-align: top;
  margin-top: 10px;
}
.val-col {
  display: grid;
}
#survey-form {
  display: flex;
  flex-flow: column wrap;
  font-size: 0.5em;
}
select,input {
  width: 35%;
  padding: 12px 20px;
  margin: 8px 10;
  box-sizing: border-box;
}
input:valid {
  border: 2px solid gray
}
input:invalid {
  border: 2px dashed red
}