@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav {
  diplay: flex;
  flex-direction: row;
  justify-content: space-around;
}
h1 {
  display: flex;
  justify-content: center;
}
p {
  background-color: #05ffb0;
  font-family: "Muli", cursive;
}
@media (min-height: 700px) {
  p {
    font-size: 10px;
  }
}
img {
  width: 100%;
  height: auto;
}
code {
  display: block;
  text-align: left;
  white-space: pre-wrap;
  position: relative;
  word-break: break-word;
  word-wrap: normal;
  line-height: 2;
  background-color: #f7e7f7;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
}
